.account-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 0 20px 5px;
   
    .form-title {
        border-bottom: 1px solid $mint;
        h1 {
            color: $textColor;
            font-size: 35px;
            padding: 10px 45px 10px 0;
            margin: 0;
        }
    }
    
    .form-body {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $mint;
        margin-bottom: 20px;
        label {
            font-size: 16px;
            color: $textColor;
        }
        .input-box {
            width: 40%;
            input {
                width: 100%;
                background: transparent;
                outline: none;
                border: 2px solid $textColor;
                font-size: 16px;
                color: $textColor;
                padding: 10px 45px 10px 20px;
                margin: 10px 0 20px 0;
            }
        }
    }
    .button {
        display: flex;
        gap: 10px;

        button {
            width: 20%;
            height: 45px;
            background: $mint;
            border: none;
            outline: none;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            font-size: 16px;
            color: $textColor; 
            margin-bottom: 20px;
        }
        a {
            text-decoration: none;
            color: $textColor; 
        }
    }
    .right {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    }
}

.blocked {
    opacity: 0.5;
}

.modal {
    display: block;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .modalContainer {
        width: 500px;
        height: 400px;
        background-color: #ffffffde;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;

        .title {
            display: inline-block;
            text-align: center;
            margin-top: 10px;
          }

      }




