nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 110px;
    box-sizing: border-box;
    gap: 5px;
    
    .menu {
      display: flex;
      padding: 0 20px 5px;
      align-items: center;
      width: 100%;
      padding-top: 10px;
      justify-content: space-between;
      span a {
        color: $darkGreenColor;
        font-size: 20px;
        &.user{
            font-weight: bold;
        }
        .icon {
          color: $darkGreenColor;
          font-size: 25px;
          font-weight: 600;
          margin-right: 10px;
          margin-bottom: 5px;
      }
      }
      i {
        font-size: 20px;
        color: $darkGreenColor;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            text-decoration: underline;
        }
    }
      
      a {
        color: $textColor;
        font-size: $h3FontSize;
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .login {
        display: flex;
        align-items: center;
        border-top: 1px solid #9BC1BC;
        justify-content: space-between;
      a {
        color: $textColor;
        padding: 0 20px 0 20px;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: $h3FontSize;
        text-decoration: none;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          background-color: #9BC1BC;
        }
      }
      .menu-bar {
        display: flex;
      }
      .searchInput {
        display: flex;
        align-items: center;
        margin: 0 20px;
        padding: .3rem 1.5rem;
        background: hsl(217, 50%, 97%);
        border-radius: 3rem;
        .icon {
          color: $darkGreenColor;
          font-size: $h2FontSize;
          cursor: pointer;
      }
        input {
          background: none;
          outline: none;
          border: none;
          margin-left: .5rem;

          &::placeholder {
              color: var(--textColor);
              font-weight: 500;
              outline: none;
              opacity: .7;
          }
      }
      }
    }
  }

  