
$blue: #8d94ba;
$violet: #b38cb4;
$yellow: #f8f272;
$red: #b6244f;
$green: #60ab9a;
$wine: #823038;
$orange: #FCAB64;
$aquamarine: #A1FCDF;
$plum: #7D387D;
$mint: #BDEDE0;
$deepblue: #0094C6;
$yellowColor: #e1f296;
$lightGreenColor: #5aba8a;
$darkGreenColor: #01565b;
$textColor: #044561;
$h1Color: #012e33;
$cardColor: #4c9fa7;
$whiteColor: hsl(0, 0%, 100%);
$greyText: rgb(190, 190, 190);
$inputColor: hsl(224, 39%, 80%);

$h1FontSize: 2.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: .938rem;
$smallFontSize: .813rem;
$smallestFontSize: .75rem;

$f1: 'Montserrat', sans-serif;
$f2: 'Raleway', sans-serif;
$f3: 'Anonymous Pro', monospace;